{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <title>Thimble | About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="container"
      style="
        display: flex;
        justify-content: center;
        margin-top: 20px;
        max-width: 612px;
      "
    >
      <div style="flex-direction: column">
        <div style="display: inline-flex">
          <img src="{% static 'web/app_icon.png' %}" height="60" />
          <h3
            style="
              font-family: 'Grand Hotel', Arial;
              font-size: 60px;
              margin-left: 10px;
            "
          >
            thimble
          </h3>
        </div>
        <h3 style="text-align: center">About</h3>
        <h3>What is Thimble?</h3>
        <p>
          Thimble is a mobile app for group sharing. Create groups for anything
          you want and add your friends to them. In groups you can share
          updates, links and photos. React to posts by sending an emoji.
        </p>
        <h3>Who made this?</h3>
        <p>
          Thimble is founded by
          <a
            href="https://www.instagram.com/jonathanlambertt/"
            target="_blank"
            style="text-decoration: none; color: #ff878a"
            >Jonathan Lambert</a
          >
          and
          <a
            href="https://patrickmucsi.com"
            target="_blank"
            style="text-decoration: none; color: #ff878a"
            >Patrick Mucsi</a
          >.
        </p>
      </div>
    </div>
    <footer class="footer">
      <div class="container" style="display: flex; justify-content: center">
        <ul>
          <li style="display: inline; text-decoration: none; font-size: 17px">
            <a
              href="{% url 'web:home' %}"
              style="text-decoration: none; color: #bfbfbf"
              >home</a
            >
          </li>
          <li
            style="
              display: inline;
              font-size: 15px;
              text-decoration: none;
              color: #bfbfbf;
            "
          >
            |
          </li>
          <li style="display: inline; text-decoration: none; font-size: 17px">
            <a
              href="{% url 'web:about' %}"
              style="text-decoration: none; color: #bfbfbf"
              >about</a
            >
          </li>
          <li
            style="
              display: inline;
              font-size: 15px;
              text-decoration: none;
              color: #bfbfbf;
            "
          >
            |
          </li>
          <li style="display: inline; text-decoration: none; font-size: 17px">
            <a
              href="https://www.iubenda.com/privacy-policy/10704237"
              style="text-decoration: none; color: #bfbfbf"
              >privacy</a
            >
          </li>
          <li
            style="
              display: inline;
              font-size: 15px;
              text-decoration: none;
              color: #bfbfbf;
            "
          >
            |
          </li>
          <li style="display: inline; text-decoration: none; font-size: 17px">
            <a
              href="https://www.iubenda.com/terms-and-conditions/10704237"
              style="text-decoration: none; color: #bfbfbf"
              >terms</a
            >
          </li>
        </ul>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
